language: php
php:
- 7.1
- 7.2
cache:
  directories:
  - "$HOME/.composer/cache"
env:
  secure: cmfyAaUCC1qEAwtHTsInnqWIQQjJGoAH9/jSZnzKgOWL2miJDYi8Oa5GuS0VTHgXU19TU/oRYSqT9DH0+khC+EtIOS4fUKNbT4CvW8vlWg+9NG+8VrJIzqf/TAZ3LtZaWjka8UFV6UMlAhqxf7OMBbbMkrDu704b8oMtKa1dub9t73YXW+WH+svczJiW5/mUUGRfZHUO3BmGEjgt91fMk2TLW+kA1oebwI8ZPQjABq+1ElL9bM3dRhuaZ5MCjeblpzvz+CFLhil4QHHp8Qw9PIRDAW3C0flpCjzU55xhoDmXj4TJPvBl55ia3PEfIZ4WlSS0TO0BKdinYrXdW8n2bW5faIN00PyZ4l4reBarS5dux6mrEUYzlrtfAErRVj0zyzXs+JDKHmU/0Mjr71oRazayFSjER4GmWKU+E8Mg0f+gLnYCXIBIEQ2o+JEh1YuM9GURtyHf2NLnr4mHqZbNlPtAyDM3PHgoja5UaVB976YYVzJ+VnQDK4Lv0FZ0ndqxpLrwhR7auWv3873eh3/spsSNbr2xYecjCaXQSzmb1gDxfnxzkfFSoqvPNpl2bkHT+PyVziItsVovRttm/yxrOay47GUBRIBC1q6E/j7tv7pYuU7fvTy8CNrElLwkfmyatCMQBuqejS+igwUDOh8ReTe9ryXXfsJBsAxaDNtpfN4=
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
before_install:
- phpenv config-rm xdebug.ini
install: composer install
script:
- "./vendor/bin/phpstan analyse src tests --level 7"
- php vendor/bin/phpunit -c phpunit.xml
- "./vendor/bin/phpcs"
after_success:
- "./vendor/bin/apigen generate src --destination docs"
addons:
  artifacts:
    s3_region: us-east-1
    target_paths: "$TRAVIS_REPO_SLUG/$TRAVIS_BRANCH"
    paths:
    - "./docs"
notifications:
  slack:
    rooms:
      secure: UViA/AzWGBfiyy+lLhx/iaJEk+eRYcLkFKELxzeV5SOYVI/wISXf8afhaXjptDEZJ4eitsy865ZaFPgXqo3/CJX7pSRKiOtiqgMgDFoIOlnkTLK11rWrBJwvf9o3LFdtgXVUPYol1iD7yDgxtWi005lcorinrPM3ptKOyy2KByFSK/4V6Zruw6cOIaKer+OZadKJgTd7snMkQY1UKDovSHS0x2a26jZXJ3cuN8CczGd/OvTnONHXnJgMTsBXHWyTC8i1nAnILTAFXruzdEAsUhS+mG1GZdNNID0SGT1zmUSwGqZ81nbUkL6XulBDn950tMMyBV6pQcGaXZhq/HbwMrri1QO+pLZnn7oKu/tvBvylF4/Y8tTaOcjMSMm2jsJJNABdabxdNEHGjGYC9eLYUink5V3wv3K7RHCfClQEeNxoSasZApmJ1HIPXTFOxV00oLNZrsiucN0Gr8ek0OgfeNheOjmBzFTVC9fzi5tBhY3r462xXby0K2PIqbF9D3htONRxPRTnttMk3LxYD0jMq9gb5TBfSJZ4HNGIQnjHxKWo3aWjuqTnn7QPAkJfrkJlhNg8GhSPlbtYcpUJ+NWLYJc/plOLqqAdYrdX5q/BEMUgf6hJqNcO3XJS+4xjTzbnsoAQoDoMmqJgR9Z+GbIYemVq0KccgjGDmErJtyW/rWo=
  on_success: change
  on_failure: always
after_script:
- "php ./docversions.php"