<phpunit bootstrap="vendor/autoload.php">

  <testsuites>
    <testsuite name="common">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>

  <!--
  <logging>
      <log type="coverage-clover" target="tests/reports/logs/clover.xml"/>
      <log type="coverage-html" target="tests/reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="80" />
      <log type="testdox-text" target="tests/reports/testdox/executed.txt"/>
  </logging>
  -->
</phpunit>